{% extends 'base.html.twig' %}

{% block title %}Page home
{% endblock %}

{% block body %}

	<main>
		<section>
			<div class="divAlbum album py-5 bg-light">
				<div class="container">
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
						{% for produit in listeProduits %}
							<div class="col">
								<div class="card shadow-sm">
									<img style="height:225px; width:100%" src="{{ produit.imageProduit }}" alt="Image café">
									<div class="card-body">
										<h4>{{ produit.nomProduit }}</h4>
										<p class="card-text">{{ produit.descriptionProduit | raw }}</p>
										<div class="d-flex justify-content-between align-items-center">
											<div class="btn-group">
												<a href="{{ path("accueil_show", {"id": produit.id}) }}" type="button" class="btn btn-sm btn-outline-secondary">Lire la suite</a>
												<a href="" type="button" class="btn btn-sm btn-outline-secondary">Ajouter au panier</a>
											</div>
											<small class="text-muted">{{ produit.prixProduit }}
												€</small>
										</div>
									</div>
									<div class="card-footer text-muted">
									Le {{ produit.datePublication | date("d/m/Y") }} à {{ produit.datePublication | date("H:i") }} dans la catégorie motos.
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</section>
	</main>

	{# <div class="example-wrapper" style="margin-top:150px">
			<h1>Yop
				{{ controller_name }}! ✅</h1>
	
			This friendly message is coming from:
			<ul>
				<li>Your controller at
					<code>
						<a href="{{ 'C:/xampp/htdocs/projetSymfony/src/Controller/AccueilController.php'|file_link(0) }}">src/Controller/AccueilController.php</a>
					</code>
				</li>
				<li>Your template at
					<code>
						<a href="{{ 'C:/xampp/htdocs/projetSymfony/templates/accueil/index.html.twig'|file_link(0) }}">templates/accueil/index.html.twig</a>
					</code>
				</li>
			</ul>
		</div> #}
{% endblock %}
